$border-size: .2rem;
.appliance {
  display: inline-block;
  position: relative;
  background: inherit;
  height: 20vmin;
  width: 20vmin;
  padding-bottom: 1em;
  button {
    display: block;
    padding: 0;
    border: 0;
    font: inherit;
    background: inherit;
    &.main {
      position: absolute;
      left: .5em;
      height: calc(100% - 1em);;
      width: calc(100% - 1em);;
      background: inherit;
      border-radius: 20%;
      position: relative;
      border: 1px gray solid;
      filter: drop-shadow(3px 3px 3px black);
      svg {
        position: absolute;
        display: block;
        width: 44%;
        height: 44%;
        top: 28%;
        left: 28%;
      }
      &.circle::after {
        position: absolute;
        content: "";
        padding: 0;
        border: $border-size solid;
        border-radius: 50%;
        border-color: gray;
        height: 50%;
        width: 50%;
        top: calc(25% - #{$border-size});
        left: calc(25% - #{$border-size});
      }
      &.circle.on::after {
        border-color: white white #61dafb #61dafb;
        animation: circle-spin infinite 3s linear;
      }
    }
    &.power {
      position: absolute;
      background: transparent;
      top: 0;
      right: 1em;
      height: 30%;
      width: 30%;
      .icon {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .label {
    display: block;
    text-align: center;
    margin-top: .5em;
    font-size: 75%;
  }
}

@keyframes circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
