.buttons_ac {
  width: 100%;
  min-height: 100%;
  .buttons {
    .button_power {
    }
    .mode, .settings {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .signals {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
