$margin: .5rem;
$padding: .5rem;
$sensorWidth: 5rem;
$half: calc(50vmin - (#{$margin} + #{$padding}) * 2);
$aThird: calc(33vmin - (#{$margin} - #{$padding}) * 2);
@mixin nallow {
  @media screen and (min-width: 0px) and (max-width: 500px) {
    @content;
  }
}
@mixin broad {
  @media screen and (min-width: 500px) {
    @content;
  }
}
.device {
  border: 1px solid;
  border-radius: 1rem;
  margin: $margin $margin 0 $margin;
  padding: $padding;
  background: inherit;
  @include nallow {
    max-width: calc(#{$half} * 2);
  }
  @include broad {
    max-width: calc(#{$aThird} *3);
  }
  header {
    width: 100%;
  }
  .nickname {
    display:inline-block;
    text-overflow:: ellipsis;
    text-align: left;
    overflow: hidden;
    white-space:nowrap;
    width: calc(100% - (#{$sensorWidth} + #{$padding} * 2));
  }
  .sensor {
    position: relative;
    font-size: .5em;
    display: inline-block;
    width: $sensorWidth;
    text-align: left;
    vertical-align: top;
    height: 1em;
    line-height: 1em;
    span {
      display: block;
      white-space: nowrap;
    }
    .value {
      position: absolute;
      right: 0;
      display: inline-block;
      text-align: right;
      vertical-align: top;
      text-overflow: ellipsis;
      overflow:hidden;
      padding-right: 5px;
      max-width: 3em;
    }
  }
  .appliances {
    display: flex;
    flex-wrap: wrap;
    background: inherit;
    @include nallow {
      max-width: calc(#{$half} * 2);
      &>div {
        height: $half;
        width: $half;
      }
    }
    @include broad {
      max-width: calc(#{$aThird} * 3);
      &>div {
        height: $aThird;
        width: $aThird;
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
