svg {
  &.icon {
    fill-opacity: 0;
    stroke: #555;
    @media (prefers-color-scheme: dark) {
      stroke: #ccc;
    }
  }
  stroke-width: 5;
  &.power.off {
    stroke: #ccc;
  }
  &.power.on {
    stroke: #61dafb;
    color: #61dafb;
  }
  text {
    stroke-width: 0;
    fill-opacity: 1;
  }
  &.fill {
    fill-opacity: 1;
    stroke-width: 0;
  }
  &.light.up {
    fill-opacity: 1;
    fill: white;
  }
  &.light.down {
    fill-opacity: 1;
    fill: gray;
  }
}
