body {
  background-color: #282c34;
  color: white;
}
#root {
  background: inherit;
  display: inline-block;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
