$margin: 1rem;
$padding: .5em;
$nicknameWidth: 5em;
.device {
  border: 1px solid;
  border-radius: 1rem;
  margin: $margin $margin 0 $margin;
  padding: $padding;
  background: inherit;
  max-width: calc(100% - #{$margin} * 2);
  .nickname {
    display:inline-block;
    font-size: 200%;
    padding: 0 $padding 0 $padding;
    width: $nicknameWidth;
    text-overflow:: ellipsis;
    text-align: left;
  }
  .sensor {
    font-size: 50%;
    display: inline-block;
    padding: 0 1em 0 1em;
    max-width: calc(100% - #{$nicknameWidth});
    text-align: left;
    &>span {
      display: block;
    }
    .value {
      text-align: right;
    }
  }
  .appliances {
    display: flex;
    flex-wrap: wrap;
    background: inherit;
    @media screen and (max-width: 900px), screen and (max-height: 900px) {
      .appliance {
        height: calc(50vmin - #{$margin} * 2 - #{$padding});
        width: calc(50vmin - #{$margin} * 2 - #{$padding});
      }
    }
    @media screen and (min-width: 900px), screen and (min-height: 900px) {
      .appliance {
        height: calc(33vmin - #{$margin} * 2 - #{$padding});
        width: calc(33vmin - #{$margin} * 2 - #{$padding});
      }
    }
  }
}
