$margin: 1rem;
$padding: .5em;
$nicknameWidth: 5em;
.device {
  border: 1px solid;
  border-radius: 1rem;
  margin: $margin $margin 0 $margin;
  padding: $padding;
  background: inherit;
  .nickname {
    display:inline-block;
    font-size: 200%;
    padding: 0 $padding 0 $padding;
    width: $nicknameWidth;
    text-overflow:: ellipsis;
    text-align: left;
  }
  .sensor {
    font-size: 50%;
    display: inline-block;
    padding: 0 1em 0 1em;
    max-width: calc(100% - #{$nicknameWidth});
    text-align: left;
    &>span {
      display: block;
    }
    .value {
      text-align: right;
    }
  }
  .appliances {
    display: flex;
    flex-wrap: wrap;
    background: inherit;
    @media screen and (min-width: 0px) and (max-width: 800px) {
      max-width: calc((50vmin - #{$margin} - #{$padding}) * 2);
      .appliance {
        height: calc(50vmin - (#{$margin} + #{$padding}) * 2);
        width: calc(50vmin - (#{$margin} + #{$padding}) * 2);
      }
    }
    @media screen and (min-width: 800px) {
      width: calc((33vmin - #{$margin} - #{$padding}) * 3);
      max-width: calc(600px);
      .appliance {
        height: calc(33vmin - #{$margin} - #{$padding});
        width: calc(33vmin - #{$margin} - #{$padding});
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
